@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.bg-main {
    background: rgb(0,0,0);
    background: linear-gradient(121deg, rgba(0,0,0,1) 0%, rgba(31,23,23,1) 74%, rgba(25,8,8,1) 100%);
  }
  